<!-- Page Heading -->
<div class="text-center animated fadeInDown">
  <h1 class="my-4">Hello World<br>
    <small>with the words of the world</small>
  </h1>
</div>

<div class="row animated bounceInLeft delay-1s">
  <% @hello_worlds.each do |hello_world| %>
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <%= image_tag(hello_world.image.url, class: "card-img-top") %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to c(hello_world), hello_world %>
        </h4>
        <p class="card-text"><%= hello_world.hello %></p>
        <%= link_to edit_hello_world_path(hello_world), class: "no-underline pr-2" do %>
          <%= i :edit %>
        <% end %>
        <%= link_to "#", method: :delete, data: { url: hello_worlds_path(hello_world), confirm: 'Are you sure?' }, class: "no-underline" do %>
          <%= i :delete %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Pagination -->
<div class="pagination justify-content-center">
  <%= paginate @hello_worlds %>
</div>
